*{
    margin: 0;
    padding: 0;
}
.balloon-animation{
    position: relative;
    height: 100vh;
    background-color: #00E7FF;
}

.cloud{
    position: absolute;
    width: 20%;
    height: auto;
}

.balloon{
position: absolute;
width: 20%;
top: 20%;
left: 40%;
}

.cloud:nth-child(1){
left: 40%;
top: 30%;
z-index: -1;
}
.cloud:nth-child(2){
left: 50%;
top: 15%;
}
.cloud:nth-child(3){
left: 20%;
top: 20%;
z-index: 1;
}
.cloud:nth-child(4){
left: 60%;
top: 50%;
}
.cloud:nth-child(5){
left: 70%;
top: 20%;
z-index: 2;
}
.cloud:nth-child(6){
left: 20%;
top: 60%;
}

